* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100%;
    height: 100vh;
}

.container {
    background-color: beige;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container a {
    text-decoration: none;
    cursor: pointer;
}

.container a h1 {
    color: black;
    padding: 0 20px;
}

.main {
    display: flex;
    flex-direction: column;
}

.workout-details {
    width: 800px;
    padding: 10px 15px;
    background-color: beige;
    margin: 10px 0;
    border-radius: 7px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.workout-details h3 {
    color: sienna;
    padding-bottom: 10px;

}

.con {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 300px;
    height: 30px;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 4px;
}

form h3 {
    text-align: center;
}

form button {
    /* width: 120px; */
    /* height: 40px; */
    border-radius: 7px;
    font-size: 18px;
    border: none;
    background-color: sienna;
    font-weight: bold;
    color: white;
    cursor: pointer;
    padding: 0.7rem 1.4rem;
}

.error {
    border: 2px solid rgb(177, 7, 7);
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    color: rgb(177, 7, 7);
    border-radius: 8px;
    background-color: rgba(177, 7, 7, 0.233);
}

.delete-btn {
    background-color: sienna;
    color: white;
    cursor: pointer;
    padding: 10px;
    float: right;
    border-radius: 6px;
}

input.error {
    border: 1px solid rgb(177, 7, 7);
}

nav {
    display: flex;
    align-items: center;
    padding-right: 5rem;
    justify-content: center;

}

nav a {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    color: #0e0e0e;
    margin-left: 10px;
}

form.signup,
form.login {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(223, 223, 192);
    border-radius: 4px;
}
form.signup input,
form.login input{
    margin: 1rem 0;

}


form.signup h3,
form.login h3{
    font-size: 25px;
    margin-bottom: 1rem;
}

nav button{
    padding: 6px 10px;
    font-size: 1.2em;
    background-color: #fff;
    border: 2px solid sienna;
    color: sienna;
    border-radius: 4px;
    cursor: pointer;

}
